* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/* Header - 1 */
.header1 {
    width: 100%;
    /* height: 60px; */
    background-color: #F4F4F4;
    color: #202328;
    text-align: center;
    padding: 18px 0px;
    font-size: 15px;
<<<<<<< HEAD
    position: fixed;
=======

    position: fixed;
    top: 0px;
>>>>>>> 48189e055ecde189604005c09c12d06ccb6a145b
}

.header1 p {
    font-weight: 400;
}

.header1 p a {
    color: #202328;
}


<<<<<<< HEAD
/* HERO SECTION  */

.hero-layout {
    background-image: url(./assets/Homepage-pic1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 48.5rem;
}


.hero-content {
    padding: 170px;
}

.hero_heading1 {
    color: white;
    font-family: "Universal Sans Display", -apple-system, Arial, sans-serif;
    font-size: 27px;
    text-align: center;
}

.hero__buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 20px;
}

.hero__buttons a {
    font-family: -apple-system, Arial, sans-serif;
    background-color: white;
    color: rgb(80, 79, 79);
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 11px 70px;
    box-shadow: 0 0 0 black;
    text-align: center;
=======




























/* Responsiveness For Header 1  */


@media  screen and (max-width: 480px) {
    .header1 p {
        font-size: 12px;
    }
}

@media  screen and (max-width: 359px) {
    .header1 p {
        font-size: 12px;
    }
    .header1 p a {
        display: block;
       /* background-color: red;*/   /*For Debugging*/
    }
>>>>>>> 48189e055ecde189604005c09c12d06ccb6a145b
}